body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#ui {
	position: absolute;
	display: flex;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000bf;
	color: #fff;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	pointer-events: all;
}

.disabled {
	display: none !important;
	pointer-events: none !important;
}
