body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fake-background {
    background-image: url(./assets/images/background.jpg);
    background-size: 100% 85%;
    background-position-y: -20%;
}

#ui {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    pointer-events: none;
}

#ui p {
    color: #000;
    background-color: #ffffff82;
    padding: 10px 30px;
}