body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.fade {
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.5s ease-in-out,
		visibility 0.5s ease-in-out;
	-moz-transition:
		opacity 0.5s ease-in-out,
		visibility 0.5s ease-in-out;
	-webkit-transition:
		opacity 0.5s ease-in-out,
		visibility 0.5s ease-in-out;
}

.show {
	opacity: 1;
	visibility: visible;
}

#ui {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
}

#ui button {
	margin: 20px;
}
